@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}
:root{
    --fundo:#8DD0F5;
    --titulos:#DCE400;
    --paragrafos:#FF4800;
}

.modoEscuro{
    --fundo:#3A195E;
    --titulos:#6090E3;
    --paragrafos:#8DD0F5;
}

body{
    text-align:left;
    font-family: roboto, arial, sans-serif;
    background-color: var(--fundo);
}

h1,h2{
    text-shadow: 2px 2px 10px orange;
    color:var(--titulos);
}

p{
    color:var(--paragrafos)

}

p.destaque{
    background-color: lightyellow;
    border-left: 2px solid red;
    padding: 9px;
}

/*Aplicando o modo escuro*/

body.modoEscuro{
    background-color: var(--fundo);
}

h1.modoEscuro, h2.modoEscuro{
    color: var(--titulos);
}

p.modoEscuro{
    color: var(--paragrafos);
}

button{
    background-color: #FF4800;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: gold;
}